- if Ordergroup.count > 20
  = items_per_page

= pagination_links_remote @ordergroups

%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@q, :name)
      %th= sort_link(@q, :active)
      %th= sort_link(@q, :contact_person)
      %th= sort_link(@q, :contact_address)
      %th= heading_helper Ordergroup, :user_tokens
      %th= sort_link(@q, :depot_name, t('Depot'))
      %th= t 'ui.actions'
  %tbody
    - for ordergroup in @ordergroups
      %tr{:class => cycle('even','odd', :name => 'groups')}
        %td= link_to ordergroup.name, [:admin, ordergroup]
        %td= boolean_icon ordergroup.active
        %td{title: ordergroup_members_title(ordergroup)}
          %abbr{title: ordergroup_members_title(ordergroup)}= ordergroup.users.size
        %td= link_to_gmaps ordergroup.contact_address
        %td= format_date ordergroup.last_user_activity
        %td
          = ordergroup.depot.name if ordergroup.depot
        %td
          = link_to t('ui.edit'), edit_admin_ordergroup_path(ordergroup), class: 'btn btn-mini'
          = link_to t('ui.delete'), [:admin, ordergroup], :data => {:confirm => t('admin.confirm', name: ordergroup.name)},
            :method => :delete, class: 'btn btn-mini btn-danger'
