= simple_form_for [:admin, @depot] do |f|
  = f.input :name
  = f.input :street
  = f.input :zip
  = f.input :place

  = f.association :owner

  = f.input :remark
  .form-actions
    = f.button :submit
    = link_to t('ui.or_cancel'), :back