- if Ordergroup.count > 20
  = items_per_page
= pagination_links_remote @ordergroups

- current_year = Time.zone.now.year

%table.table.table-striped
  %thead
    %tr
      %th= heading_helper Ordergroup, :name
      %th= heading_helper Ordergroup, :user_tokens
      %th= heading_helper Ordergroup, :depot
      %th= heading_helper Ordergroup, :last_order
      %th= (heading_helper(Ordergroup, :done_tasks) + tag(:br) + " (Letzte Bestellrunde)").html_safe
      %th= (heading_helper(Ordergroup, :done_tasks) + tag(:br) + " (#{current_year})").html_safe

  %tbody
    - for ordergroup in @ordergroups
      %tr
        %td= ordergroup.name
        %td=h ordergroup.users.collect { |u| show_user(u) }.join(", ")
        %td=h ordergroup.depot&.name
        %td= format_date ordergroup.last_order.try(:starts)
        %td= ordergroup.tasks_done_for(Bestellrunde.last)
        %td= ordergroup.tasks_done_for(current_year)
