.btn-group
  = link_to '#', class: "btn dropdown-toggle", data: {toggle: 'dropdown'} do
    = t 'shared.order_download_button.title'
    %span.caret

  %ul.dropdown-menu
    %li= orders_pdf(:groups,          state, t('shared.order_download_button.group_pdf'))
    %li= orders_pdf(:articles,        state, t('shared.order_download_button.article_pdf'))
    %li= orders_pdf(:articles_simple, state, t('shared.order_download_button.article_simple_pdf'))
    %li= link_to t('shared.order_download_button.article_xls'), orders_path(document: :articles_xls, state: state, format: :xls)
    %li= orders_pdf(:matrix,          state, t('shared.order_download_button.matrix_pdf'))
    %li= orders_pdf(:fax,             state, t('shared.order_download_button.fax_pdf'))
