- title t('.title')
%table.table.table-striped
  %thead
    %tr
      %th= t 'bestellrunden.start'
      %th= t 'bestellrunden.end'
      %th= t '.global_export'
      %th= t '.depots_export'
      %th= t '.supplier_export'

  %tbody
    - @bestellrunden.each do |bestellrunde|
      %tr
        %td= format_date(bestellrunde.starts)
        %td= format_date(bestellrunde.ends)
        %td= link_to I18n.t('report.export'), distribution_export_bestellrunde_path(bestellrunde), class: 'btn btn-mini'
        %td
          = form_tag depot_export_bestellrunde_path(bestellrunde), :method => :get, :style => 'margin: 0' do
            = select_tag :depot_id, options_for_select(Depot.natural_order.map{ |d| [d.name, d.id]})
            = submit_tag t('report.export'), class: 'btn btn-mini'
        %td
          .supplier{ style: 'display: inline-block; '}
            = form_tag supplier_export_bestellrunde_path(bestellrunde), :method => :get, :style => 'margin: 0' do
              = select_tag :supplier_id, options_for_select(Supplier.undeleted.order(:name).map{ |s| [s.name, s.id]})
              = submit_tag t('report.export'), class: 'btn btn-mini'

          = link_to I18n.t('report.export_all'), all_supplier_export_bestellrunde_path(bestellrunde), class: 'btn btn-mini'
