- if Bestellrunde.count > 20
  = items_per_page

= pagination_links_remote @bestellrunden

%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@q, :starts)
      %th= sort_link(@q, :ends)

  %tbody
    - for bestellrunde in @bestellrunden
      %tr{:class => cycle('even','odd', :name => 'bestellrunden')}
        %td= link_to format_date(bestellrunde.starts), [:admin, bestellrunde]
        %td= format_date(bestellrunde.ends)
        %td
          = link_to t('ui.edit'), edit_admin_bestellrunde_path(bestellrunde), class: 'btn btn-mini'
          = link_to t('ui.delete'), [:admin, bestellrunde], :data => {:confirm => t('admin.confirm', name: bestellrunde.label)},
            :method => :delete, class: 'btn btn-mini btn-danger'
