= simple_form_for [:admin, @bestellrunde] do |f|
  = f.input :starts, :as => :string, :input_html => { class: 'input-small datepicker' }
  = f.input :ends, :as => :string, :input_html => { class: 'input-small datepicker' }
  .form-actions
    = f.button :submit
    = link_to t('ui.or_cancel'), :back