- title t '.title', name: @bestellrunde.label

.row-fluid
  .span3
    .well
      %h4= t '.bestellrunde'
      %dl
        %dt= heading_helper Bestellrunde, :starts
        %dd= h @bestellrunde.starts
        %dt= heading_helper Bestellrunde, :ends
        %dd= h @bestellrunde.ends



= link_to t('ui.edit'), edit_admin_bestellrunde_path(@bestellrunde), class: 'btn'
= link_to t('ui.delete'), [:admin, @bestellrunde], :data => {:confirm => t('.confirm')}, :method => :delete, class: 'btn btn-danger'
